@use 'sass:math';
@use '../abstracts/mixins' as *;

.container {
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-right: auto;
    margin-left: auto;

    @include respond-to('tablet') {
        max-width: 960px;
    }

    @include respond-to('desktop') {
        max-width: 1140px;
    }
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -1rem;
    margin-left: -1rem;
}

[class^="col-"] {
    position: relative;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
}

@for $i from 1 through 12 {
    .col-#{$i} {
        flex: 0 0 math.percentage(math.div($i, 12));
        max-width: math.percentage(math.div($i, 12));
    }
}

// Re-defining breakpoints for min-width grid system to match Bootstrap-like behavior
$grid-breakpoints: (
    md: 768px,
    lg: 992px,
    xl: 1200px
);

@each $breakpoint, $width in $grid-breakpoints {
    @media (min-width: $width) {
        @for $i from 1 through 12 {
            .col-#{$breakpoint}-#{$i} {
                flex: 0 0 math.percentage(math.div($i, 12));
                max-width: math.percentage(math.div($i, 12));
            }
        }
    }
}

// Spacing Utilities (Margins/Paddings)
@for $i from 0 through 5 {
    .m-#{$i} {
        margin: #{$i * 0.25}rem !important;
    }

    .mb-#{$i} {
        margin-bottom: #{$i * 0.25}rem !important;
    }

    .mt-#{$i} {
        margin-top: #{$i * 0.25}rem !important;
    }

    .p-#{$i} {
        padding: #{$i * 0.25}rem !important;
    }
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100% !important;
}