@use 'base/index' as base;
// @use 'components/index' as components;
// @use 'layout/index' as layout;
@use 'utils/index' as utils;
@use 'admin/index' as admin;

// Admin specific overrides or global admin styles
body {
    background-color: #f4f6f9; // Example admin background
}
